.cms-validation-layer {
	transform: translate(-50%, 0);
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;
	margin: 5px 0 0;
	padding: 5px 10px;
	width: 140%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	color: #FFFFFF;

	&:before {
		content: '';
		speak: none;
		display: block;
		position: absolute;
		top: -10px;
		left: 50%;
		margin-left: -10px;
		width: 20px;
		height: 0;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(0, 0, 0, 0.5);
		border-left: 10px solid transparent;
	}

	ul,
	li {
		list-style-type: disc;
		list-style-position: outside;
	}

	ul {
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #FFFFFF;
	}

	li {
		margin-bottom: 0.25em;
		margin-left: 1em;
	}

	p,
	li,
	label {
		color: #FFFFFF;
	}

	p {
		margin: 0 0 0.5em;
		font-weight: bold;
	}

	input {
		margin-right: 0.25em;
	}
}
